@{
    ViewData["Title"] = "Exchange";
}

<div class="text-center exchange">
    <div>
    </div>
    <form id="selectForm1">

        <label>
            <input type="checkbox" name="color" value="*orange*" /> *orange*
        </label>
        <label>
            <input type="checkbox" name="color" value="*green*" /> *green*
        </label>
        <label>
            <input type="checkbox" name="color" value="*black*" /> *black*
        </label>
        <button type="submit">Set</button>
    </form>

    <form id="messageForm">
        <input id="messageInp" type="text" />
        <button>Send Message</button>
    </form>

</div>
