@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center consumer">
    <form id="selectForm2">
        <label>
            <input type="checkbox" name="color" value="*orange*" /> *orange*
        </label>
        <label>
            <input type="checkbox" name="color" value="*green*" /> *green*
        </label>
        <label>
            <input type="checkbox" name="color" value="*black*" /> *black*
        </label>
        <button type="submit">Save</button>
    </form>
    <div id="messages"></div>
</div>
